BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "o_CONTROL2_OE" SITE "7" ;
LOCATE COMP "o_CONTROL1_OE" SITE "8" ;
LOCATE COMP "i_RW" SITE "12" ;
LOCATE COMP "o_MRDY" SITE "14" ;
LOCATE COMP "DATA_BUS[7]" SITE "19" ;
LOCATE COMP "DATA_BUS[6]" SITE "20" ;
LOCATE COMP "DATA_BUS[5]" SITE "21" ;
LOCATE COMP "DATA_BUS[4]" SITE "24" ;
LOCATE COMP "DATA_BUS[3]" SITE "25" ;
LOCATE COMP "DATA_BUS[2]" SITE "27" ;
LOCATE COMP "DATA_BUS[1]" SITE "28" ;
LOCATE COMP "DATA_BUS[0]" SITE "29" ;
LOCATE COMP "o_ABUS_OE" SITE "30" ;
LOCATE COMP "i_ADDRESS_BUS[15]" SITE "31" ;
LOCATE COMP "i_ADDRESS_BUS[14]" SITE "32" ;
LOCATE COMP "i_ADDRESS_BUS[13]" SITE "34" ;
LOCATE COMP "i_ADDRESS_BUS[12]" SITE "35" ;
LOCATE COMP "i_ADDRESS_BUS[11]" SITE "36" ;
LOCATE COMP "i_ADDRESS_BUS[10]" SITE "37" ;
LOCATE COMP "i_ADDRESS_BUS[9]" SITE "38" ;
LOCATE COMP "i_ADDRESS_BUS[8]" SITE "39" ;
LOCATE COMP "i_ADDRESS_BUS[7]" SITE "40" ;
LOCATE COMP "i_ADDRESS_BUS[6]" SITE "41" ;
LOCATE COMP "i_ADDRESS_BUS[5]" SITE "42" ;
LOCATE COMP "i_ADDRESS_BUS[4]" SITE "43" ;
LOCATE COMP "i_ADDRESS_BUS[3]" SITE "45" ;
LOCATE COMP "i_ADDRESS_BUS[2]" SITE "47" ;
LOCATE COMP "i_ADDRESS_BUS[1]" SITE "48" ;
LOCATE COMP "i_ADDRESS_BUS[0]" SITE "49" ;
LOCATE COMP "o_SPI_CLK" SITE "51" ;
LOCATE COMP "o_SPI_MOSI" SITE "52" ;
LOCATE COMP "o_SPI_CS" SITE "53" ;
LOCATE COMP "i_SPI_MISO" SITE "54" ;
LOCATE COMP "i_FT_SCK" SITE "85" ;
LOCATE COMP "i_FT_CS" SITE "86" ;
LOCATE COMP "o_CE2" SITE "96" ;
LOCATE COMP "o_CE" SITE "97" ;
LOCATE COMP "o_RE" SITE "98" ;
LOCATE COMP "o_WE" SITE "99" ;
USE PRIMARY NET "clk_internal" ;
SYSCONFIG MCCLK_FREQ=13.3 ;
VOLTAGE 3.300 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
VCCIO_DERATE PERCENT 0; 
FREQUENCY NET "clk_internal" 88.670000 MHz ;
LOCATE COMP "o_UART_RX" SITE "83" ;
IOBUF PORT "i_ADDRESS_BUS[10]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_FT_CS" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_FT_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "i_FT_SCK" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_FT_MOSI" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_FT_MOSI" SITE "88" ;
LOCATE COMP "o_FT_MISO" SITE "87" ;
LOCATE COMP "o_IRQ" SITE "4" ;
LOCATE COMP "i_RESET" SITE "2" ;
LOCATE COMP "o_DBUS_OE" SITE "18" ;
LOCATE COMP "i_UART_TX" SITE "84" ;
LOCATE COMP "o_DBEN" SITE "17" ;
IOBUF PORT "o_DBEN" PULLMODE=DOWN IO_TYPE=LVCMOS33 DIFFRESISTOR=OFF ;
USE SECONDARY NET "uart/baud_clk" ;
USE SECONDARY NET "clk_internal_enable_20" ;
PROHIBIT SECONDARY NET "i_RESET_c" ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
LOCATE COMP "i_Q" SITE "16" ;
LOCATE COMP "i_E" SITE "10" ;
